PORT=8080

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

MONGO_URI=

AWS_ACCESS_KEY_ID=xxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxx
AWS_REGION=ap-south-1

TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxx
TWILIO_PHONE_NUMBER=+1xxxxxxxxxx

SMS_PROVIDER=twilio/aws